#leaderboardP {
    position: absolute;
    bottom: 600px;
    left: 10px;
    z-index: 1;
    transition: ease 500ms;
    opacity: 0;
}
#otherplayerCont {
    position: absolute;
    bottom: -65px;
    opacity: 50%;
    height: 3315px;
    width: 600px;
    clip-path: polygon(0 84.35%, 200% 84.35%, 150% 100%, 0% 100%);
}
#lbopCont {
    position: absolute;
    top: 3315px;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    transition: ease 350ms;
}
.lbBox {
    position: absolute;
    width: 358px;
    height: 68px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: visible;
    transition: ease 350ms;
}
.lb_Miss {
    color: #ff6767;
    text-shadow: 0 0 10px #ff6767;
}
.lb_Number {
    width: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.positions {
    font-size: 20px;
}
.lb_Avatar {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.lb_Rank {
    position: relative;
    font-size: 20px;
    text-align: right;
    top: 25px;
    right: 3px;
}
.lb_Stats {
    position: relative;
    left: 8px;
    width: 270px;
    height: 55px;
    line-height: 25px;
    font-size: 18px;
    color: #9e9e9e;
}
.lb_Acc {
    font-size: 17px;
}
.lb_PP {
    font-size: 22px;
    font-weight: 600;
}
.loved {
    color: pink;
}
.qualified {
    color: greenyellow;
}
.lb_StatsRight {
    text-align: right;
}
.lb_StatsMiddle {
    position: absolute;
    bottom: 0;
    right: 110px;
    text-align: right;
    display: flex;
    gap: 8px;
    transition: ease 350ms;
}
.lb_StatsLeft,
.lb_StatsRight {
    position: absolute;
    bottom: 0;
    width: 250px;
    transition: ease 350ms;
}
.lb_Name {
    color: white;
    font-size: 22px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bluelight {
    color: #71cdff;
}
#lbcpLine {
    position: absolute;
    left: -13px;
    width: 7px;
    height: 40px;
	border-radius: 10px;
    background-color: #ffffff;
    transition: ease 300ms;
    transform: translateY(15px);
    align-self: flex-start;
    z-index: 2;
}
.lb_Mods {
    position: absolute;
    height: 27px;
    width: 150px;
    right: -160px;
    display: flex;
    justify-content: flex-start;
}
.modslb {
	width: 40px;
	height: 27px;
    border-radius: 5px;
    object-fit: cover;
	background-size: 90%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-right: -15px;
    background-color: #161616;
    outline: 4px solid #161616;
    border: 2px solid #ffffff;
}

.HR {
    background-color: #190505;
    outline: 4px solid #190505;
    border: 2px solid #ffa1a1;
}
.NC {
    background-color: #170519;
    outline: 4px solid #170519;
    border: 2px solid #f1a1ff;
}
.HD {
    background-color: #191505;
    outline: 4px solid #191505;
    border: 2px solid #fcf5a5;
}
.DT {
    background-color: #120519;
    outline: 4px solid #120519;
    border: 2px solid #daa1ff;
}
.SD {
    background-color: #190e05;
    outline: 4px solid #190e05;
    border: 2px solid #ffd8a1;
}
.PF {
    background-color: #191705;
    outline: 4px solid #191705;
    border: 2px solid #fffca1;
}
.HT {
    background-color: #1e1e1e;
    outline: 4px solid #1e1e1e;
    border: 2px solid #a1a1a1;
}
.NF {
    background-color: #050f19;
    outline: 4px solid #050f19;
    border: 2px solid #a1e3ff;
}
.SO {
    background-color: #19050f;
    outline: 4px solid #19050f;
    border: 2px solid #c13b87;
}
.EZ {
    background-color: #051911;
    outline: 4px solid #051911;
    border: 2px solid #a1ffd2;
}

.N3,
.N2,
.N1 {
    font-weight: 800;
}

.N3 {
    color: #ff953e;
    filter: drop-shadow(0 0 10px #ff953e);
}
.N2 {
    color: #d1f6ff;
    filter: drop-shadow(0 0 10px #d1f6ff);
}
.N1 {
    color: #ffdc3e;
    filter: drop-shadow(0 0 10px #ffdc3e);
}